
.product-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width:24%;
    min-width: 150px;
    margin:8px;
    margin-bottom: 16px;
    text-align: center;
    box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 8px 0px rgba(0,0,0,0.75);
    background-color:$primary;


    @media (max-width:500px){
        height:250px;     
    }

    &:hover{
        transform: scale(1.01);
        .name-container,.actions,h3,input{
            background-color: white;
        }
    }
    .image-div{
        width: 100%;
        background-color: white;

        #img-container{
            margin: 16px 0px;
            width: 60%;
            @media (max-width:500px){
                height:120px;
                     
            }
        }
    }   

    .actions{
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
        width: 100%;
        @media (max-width:500px){
            font-size: 12px;
            margin:2px;     
        }
    }
    .button{
        @media (max-width:500px){
            font-size: 12px;
            margin:2px;     
        }
    }


    .qty-input{
        width: 30%;
        border-radius: 8px;
        background-color: $primary;
    }

    .name-container{
        width: 100%;
        height:-webkit-fill-available;
    }
    h4{
        @media (max-width:500px){
            font-size: 12px;
            margin:2px;     
        }
    }
    h3{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 8px;
        @media (max-width:500px){
            font-size: 12px;
            margin:2px;     
        }
    }
    
}






