.register-form{
    width: 50%;
    height: 500px;
    border-radius: 8px;
    background-color: #e1e8eb;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: login-animation 200ms ease-in;
    position: relative;

    @media (max-width:500px){
        width:90%;    
        height:700px;
    }

    .x-box{
        position: absolute;
        top: -16px;
        right: -34px;
        padding: 8px;
        width: 5%;
        color: #ffc107;
        font-family: 'Mulish', sans-serif;
        font-weight: 100;
        font-size: 32px;
        cursor: pointer;
        @media (max-width:500px){
            right:-10px;    
        }

    }

    .heading-div{
        width: 100%;
        height: 80px;
        background-color: #ffc107;
        text-align: center;
        color: #343f56;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        
        @media (max-width:500px){
            height:100px;    
        }
        

        h3{
            transform: translateY(20px);
            font-family: $official;
            font-weight: 900;
            height: 32px;

            @media (max-width:500px){
                height:50px;    
            }
        }

        
        
    }

    .form-div{
        margin-top: 30px;
        font-family: $fontStyle2;
        color: red;
        margin-left: 16px;
        @media (max-width:500px){
            margin-left:4px;
            display: flex;
            flex-direction: column;
            justify-content: center;  
        }

        label{
            font-size: 24px;
            margin-right: 4px;
            margin-left: 16px;
            @media (max-width:500px){
                margin:2px;    
            }
        }

        .invalid-input{
            border: 3px solid #d41a1a;
            background-color: #f89c9c;
        }

        input{
            padding: 8px;
            margin: 6px 0px;
            border-radius: 8px;
            border: none;
            width: 250px;
            margin-bottom: 24px;
            margin-right: 16px;
            font-family: $official;
            font-size: 14px;
            font-weight: 600;
            outline: none;
            @media (max-width:500px){
                margin-right: 16px;    
            }
        }
       
        span{
            display: inline-block;
            position: absolute;
        }
        .name-span{
            top:31.2%;
            left:20%;
            z-index: -1;
            @media (max-width:500px){
                top:25%;
                left:30%;    
            }
            
        }
        .outlet-span{
            top: 31.3%;
            right: 20%;
            z-index: -1;

            @media (max-width:500px){
                top:35.5%;
                left:32%;    
            }
        }
        .mobile-span{
            top:45.5%;
            left:18%;
            z-index: -1;

        }
        .email-span{
            top:45.5%;
            right: 20%;
            z-index: -1;
            @media (max-width:500px){
                top:56%;
                left:30%;    
            }

        }
        .password-span{
            top:60.2%;
            left:5%;
            z-index: -1;

            @media (max-width:500px){
                top:68%;
                left:10%;
                line-height:10px;    
            }

        }
        .repassword-span{
            top:60.2%;
            right: 20%;
            z-index: -1;
            @media (max-width:500px){
                top:77%;
                left:35%;    
            }
            

        }

        .invalid{
                z-index: 1;
        }


        button {
            display: block;
            width: 50%;
            border-radius: 8px;
            padding: 8px;
            border:none;
            margin-left: 26%;
            margin-top: 32px;
            font-family: $official;
            font-size: 20px;
            background-color: #ffc107;

            &:hover{
                transition-duration: 1s;
                transform: scale(1.2);
            }
        }
        
    }

    .div1{
        input:nth-of-type(1){
            margin-left: 5px;
        }
    }

    .div2 {
        input:nth-of-type(2){
            margin-left: 41px;
        }
    }
    .div3 {
        margin-left: 23%;
    }

    .div4{
        input:nth-of-type(1){
            width: 230px;
        }
        input:nth-of-type(2){
            width: 240px;
        }
    }
    

    .end-div{
        position: absolute;
        bottom:0;
        margin-bottom: 16px;
        margin-left: 38%;
        cursor: pointer;
        font-size: 22px;
        text-decoration: underline;
    }

}

@keyframes login-animation {
    0% {
        //transform: scale(0.95);
        transform: translateY(-5%);
    }
    50% {
        //transform: scale(1.05);
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0);
    }
}